<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的博客</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id="kz-navbar">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand link" href="#">我的个人博客</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="index.html">首页<span class="sr-only">(current)</span></a></li>
	        <li><a href="list.html">HTML</a></li>
	        <li><a href="list.html">CSS</a></li>
	        <li><a href="list.html">JavaScript</a></li>
	        <li><a href="list.html">我的足迹</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<!-- 轮播图 -->
					<div id="main-carousel" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
					    <li data-target="#main-carousel" data-slide-to="1"></li>
					    <li data-target="#main-carousel" data-slide-to="2"></li>
					    <li data-target="#main-carousel" data-slide-to="3"></li>
					  </ol>
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					      <img src="images/carousel1.jpg" alt="轮播图">
					    </div>
					    <div class="item">
					      <img src="images/carousel2.jpg" alt="轮播图">
					    </div>
					    <div class="item">
					      <img src="images/carousel3.jpg" alt="轮播图">
					    </div>
						<div class="item">
					      <img src="images/carousel4.jpeg" alt="轮播图">
					    </div>
					  </div>
					  <!-- Controls -->
					  <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
					<!-- 列表页 -->
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	一个男生暗恋一个女生很久了。一天自习课上，男生偷偷的传了小纸条给女生，上面写着“其实我注意你很久了”。不一会儿，女生传了另一张纸条，男生心急火燎的打开一看“拜托你不要告诉老师，我保证以后再也不嗑瓜子了”。。。。。。男生一脸懵逼
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	小时候，我妈不止一次跟我说，亲嘴会怀孕，亲嘴会怀孕，结果我家猫跳起来抢肉吃的时候好死不死亲到了我的嘴，过了几个月它还生下了三只小猫……出于责任感，有我一口肉吃，我就不会让那三只小猫吃素！
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	小明的妈妈在做面膜，这时门铃响了。妈妈对小明说：小明快去开门，妈妈贴着面膜见不得人。 小明听后于是去开门，原来是爸爸。爸爸问小明问：你妈呢？ 答：她正在做见不得人的事！	
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	第一次去女朋友家，吃饭期间二货女友不停的各种夸她妈妈做饭手艺怎么怎么样，我也都笑脸附和着各种菜怎么怎么好吃。 突然女友来一句：“知道我妈是怎么把我爸拴在家里的么？” 心不在焉的我张嘴就来了一句：“用狗链么？”
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	一美女坐出租车刚上车，嘣的一声放了巨响的一个屁，美女甚是尴尬。这时司机抽了一口烟，缓缓的说：“屁是你所吃的食物不屈的亡魂的吶喊”美女一笑尴尬尽消，说：“师傅，你好文艺范啊”师傅摇头说：“可是这呐喊声也太大了，我特么以为爆胎了！！！”[哈哈]
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	青年向大师哭诉：“大师，我高考失利，考不上大学，父母责骂我，女朋友也离我而去，请您收下我，让我皈依佛门吧！”只见大师拿出一叠高考资料，青年恍然大悟：“大师是叫我不要放弃高考，明年再战，是吗？”大师摇头说道：“施主，我们这里只招本科以上，你还是先回去考上本科再过来面试吧！”
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	你今天买不起新鲜水果，就攒钱过几天买，你图便宜买下的烂水果，吃起来时候根本就是负担和垃圾，绝不会为你带来任何愉悦，现在得不到就忍，就等，就去努力争取，人生短短几十年，爱和吃能别凑合就别凑合，你的心和胃都很小 ，别亏欠它们。
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<!-- 广告页 -->
					<div class="ad">
						<a href="#" class="thumbnail">
					      <img src="images/gg1.jpg" alt="广告">
					    </a>
					</div>
					<div class="ad">
						<a href="#" class="thumbnail">
					      <img src="images/gg2.jpeg" alt="广告">
					    </a>
					</div>
					<!-- 博主介绍 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">博主介绍</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<div class="media">
							  <div class="media-left">
							    <a href="#">
							      <img class="media-object img-me" src="images/me.jpg" alt="博主帅照">
							    </a>
							  </div>
							  <div class="media-body">
							    <h4 class="media-heading">Blue燕燕</h4>
							    如果一个男生的手机壁纸是你，所有的社交密码都告诉你，那么你就取了他的钱走吧。
							  </div>
							</div>
					 	</div>
					</div>
					<!-- 点击排行 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">点击排行</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<ul class="list-group">
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Cras justo odioCras justo odioCras justo odioCras justo odio</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Dapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis in</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Morbi leo risusMorbi leo risusMorbi leo risusMorbi leo risus</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Porta ac consectetur acPorta ac consectetur acPorta ac consectetur acPorta ac consectetur ac</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Vestibulum at erosVestibulum at erosVestibulum at erosVestibulum at eros</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Dapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis in</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Morbi leo risusMorbi leo risusMorbi leo risusMorbi leo risus</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Vestibulum at erosVestibulum at erosVestibulum at erosVestibulum at eros</a>
							  </li>
							</ul>
					 	</div>
					</div>
					<!-- 关注我 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">关注我</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<img src="images/erweima.png" class="img-responsive" alt="二维码">
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		Blog Design by <a href="#" class="link">Kuazhu🐖</a><a href="#" class="link">豫ICP备11002373号-1.</a>
	</footer>
</body>
<script src="jquery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</html>