<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的博客</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/detail.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id="kz-navbar">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand link" href="#">我的个人博客</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="index.html">首页<span class="sr-only">(current)</span></a></li>
	        <li><a href="list.html" target="_blank">HTML</a></li>
	        <li><a href="list.html" target="_blank">CSS</a></li>
	        <li><a href="list.html" target="_blank">JavaScript</a></li>
	        <li><a href="list.html" target="_blank">我的足迹</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default content">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">深入了解 搞笑俱乐部 搞笑我们是认真的！！！</h3>
					  		<p class="sub-title">
					  			<span class="muted text-muted">幽默笑话</span>
					  			<span class="muted text-muted">2019-03-14</span>
					  			<span class="muted text-muted"><em>1314</em>人已阅读</span>
					  		</p>
					  	</div>
					  	<div class="panel-body">
					   	 	<div class="well">
					   	 		<p><strong>熊孩子:</strong>&nbsp;&nbsp;昨天因为一件事骂儿子，说你妈妈是猪，你也是头猪。儿子却反过来说我：爸爸你怎么这么衰，娶了一头猪，还生了一只猪！你说你这熊孩子，这是不是找打。</p>
					   	 		<p><strong>傻媳妇:</strong>&nbsp;&nbsp;我和老婆去游泳，她不会，然后我各种教他，一会她突然来一句，老公我好像饱了。</p>
					   	 		<p><strong>损友闺蜜:</strong>&nbsp;&nbsp;有一次和男友吵架了在电话里哭，闺蜜来安慰我，突然，他盯着我的眼睛看。冒出一句：“你的睫毛膏用的什么牌子的，这么哭成这B样，都没掉”。我真是气打不一处来，电话一扔也不哭了。</p>
					   	 		<p><strong>造句:</strong>&nbsp;&nbsp;一天，老师叫小明用欣欣向荣造句。小明造了一句：“欣欣向荣荣告白！”</p>
					   	 		<p><strong>不想要小孩:</strong>&nbsp;&nbsp;一天，一个小学生向暗恋很久的老师告白，老师告诉他这样不对，但他不听。最后老师说了一句：“我不想要小孩。”小学生说：“我会小心的！”</p>
					   	 		<p><strong>整容:</strong>&nbsp;&nbsp;猪八戒到韩国整容变帅了，到舞厅找美女。经过激情后，猪八戒说：“你知道我原来有多丑吗？我是猪八戒！”美女大惊：二师兄，我是老沙呀！”</p>
					   	 	</div>
					 	</div>
					</div>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<!-- 广告页 -->
					<div class="ad">
						<a href="#" class="thumbnail">
					      <img src="images/gg1.jpg" alt="广告">
					    </a>
					</div>
					<div class="ad">
						<a href="#" class="thumbnail">
					      <img src="images/gg2.jpeg" alt="广告">
					    </a>
					</div>
					<!-- 博主介绍 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">博主介绍</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<div class="media">
							  <div class="media-left">
							    <a href="#">
							      <img class="media-object img-me" src="images/me.jpg" alt="博主帅照">
							    </a>
							  </div>
							  <div class="media-body">
							    <h4 class="media-heading">Blue燕燕</h4>
							    如果一个男生的手机壁纸是你，所有的社交密码都告诉你，那么你就取了他的钱走吧。
							  </div>
							</div>
					 	</div>
					</div>
					<!-- 点击排行 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">点击排行</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<ul class="list-group">
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Cras justo odioCras justo odioCras justo odioCras justo odio</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Dapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis in</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Morbi leo risusMorbi leo risusMorbi leo risusMorbi leo risus</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Porta ac consectetur acPorta ac consectetur acPorta ac consectetur acPorta ac consectetur ac</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Vestibulum at erosVestibulum at erosVestibulum at erosVestibulum at eros</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Dapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis in</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Morbi leo risusMorbi leo risusMorbi leo risusMorbi leo risus</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Vestibulum at erosVestibulum at erosVestibulum at erosVestibulum at eros</a>
							  </li>
							</ul>
					 	</div>
					</div>
					<!-- 关注我 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">关注我</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<img src="images/erweima.png" class="img-responsive" alt="二维码">
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		Blog Design by <a href="#" class="link">Kuazhu🐖</a><a href="#" class="link">豫ICP备11002373号-1.</a>
	</footer>
</body>
<script src="jquery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</html>