<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的博客</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id="kz-navbar">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand link" href="#">我的个人博客</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="index.html">首页<span class="sr-only">(current)</span></a></li>
	        <li><a href="list.html" target="_blank">HTML</a></li>
	        <li><a href="list.html" target="_blank">CSS</a></li>
	        <li><a href="list.html" target="_blank">JavaScript</a></li>
	        <li><a href="list.html" target="_blank">我的足迹</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<!-- 列表页 -->
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	正在家吃饭，铁哥们来电话，老婆伸手帮我接通并摁了免提，然后就听见他很激动的说：“上次那两个妹子我约出来了，你。。。”
							我打了个喷嚏，他沉默了一下接着说：“能不能借我几百块钱啊？没有就算了。”说完电话立马就断了。
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	小时候我一次在家写作业，突然停电了，耶耶耶耶耶！终于不用写作业了，可以看电视了。还特二的去开电视，在黑暗的角落里我爸淡淡的说了说声：丑就够倒霉了，还这么傻！
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	保安：干嘛的？ 我：我想去楼顶看看。 保安：别装了，就说你亏多少吧？ 我：5万。。。 保安：一楼大厅排队，撞柱子去吧！ 我：为什么？ 保安：亏10万才能上二楼，20万三楼，30万4楼，40万五楼，100万六楼以上，楼顶VIP都是大户，你瞎掺乎什么！? ?
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	都说女儿找了男朋友，父母会有自己辛辛苦苦种的白菜被猪拱了的伤感。可我弟弟自从找了女朋友，连家里都不回来住了，天天岳母娘给做好吃的，各种的乐不思蜀啊。老妈45°角仰望天空说：“白菜有没有拱着不知道，反正养了20多年的猪肯定是丢了。。。 ”
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<div class="panel panel-default panel-list">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">
					  			<a href="detail.html" class="link" target="_blank">搞笑段子合集</a>
					  		</h3>
					  	</div>
					  	<div class="panel-body">
					   	 	你今天买不起新鲜水果，就攒钱过几天买，你图便宜买下的烂水果，吃起来时候根本就是负担和垃圾，绝不会为你带来任何愉悦，现在得不到就忍，就等，就去努力争取，人生短短几十年，爱和吃能别凑合就别凑合，你的心和胃都很小 ，别亏欠它们。
					 	</div>
					   	<div class="panel-footer">
					   		<span class="glyphicon glyphicon-user"></span>
					   		<span class="panel-default-text text-muted">ZhangYan</span>
					   		<span class="glyphicon glyphicon-th-list"></span>
					   		<span class="panel-default-text text-muted">幽默段子</span>
					   		<span class="glyphicon glyphicon-time"></span>
					   		<span class="panel-default-text text-muted">2019-02-14</span>
					   		<span class="glyphicon glyphicon-eye-open"></span>
					   		<span class="panel-default-text text-muted"><em>1000</em>人已阅读</span>
					   	</div>
					</div>
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<!-- 广告页 -->
					<div class="ad">
						<a href="#" class="thumbnail">
					      <img src="images/gg1.jpg" alt="广告">
					    </a>
					</div>
					<div class="ad">
						<a href="#" class="thumbnail">
					      <img src="images/gg2.jpeg" alt="广告">
					    </a>
					</div>
					<!-- 博主介绍 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">博主介绍</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<div class="media">
							  <div class="media-left">
							    <a href="#">
							      <img class="media-object img-me" src="images/me.jpg" alt="博主帅照">
							    </a>
							  </div>
							  <div class="media-body">
							    <h4 class="media-heading">Blue燕燕</h4>
							    如果一个男生的手机壁纸是你，所有的社交密码都告诉你，那么你就取了他的钱走吧。
							  </div>
							</div>
					 	</div>
					</div>
					<!-- 点击排行 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">点击排行</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<ul class="list-group">
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Cras justo odioCras justo odioCras justo odioCras justo odio</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Dapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis in</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Morbi leo risusMorbi leo risusMorbi leo risusMorbi leo risus</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Porta ac consectetur acPorta ac consectetur acPorta ac consectetur acPorta ac consectetur ac</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Vestibulum at erosVestibulum at erosVestibulum at erosVestibulum at eros</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Dapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis inDapibus ac facilisis in</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Morbi leo risusMorbi leo risusMorbi leo risusMorbi leo risus</a>
							  </li>
							  <li class="list-group-item">
							  	<a href="detail.html" class="link text-ellipsis" target="_blabk">Vestibulum at erosVestibulum at erosVestibulum at erosVestibulum at eros</a>
							  </li>
							</ul>
					 	</div>
					</div>
					<!-- 关注我 -->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<h3 class="panel-title">关注我</h3>
					  	</div>
					  	<div class="panel-body panel-content">
					   	 	<img src="images/erweima.png" class="img-responsive" alt="二维码">
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		Blog Design by <a href="#" class="link">Kuazhu🐖</a><a href="#" class="link">豫ICP备11002373号-1.</a>
	</footer>
</body>
<script src="jquery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</html>